<div class="navbar-nav-wrap-content-left collapse navbar-collapse" id="navbarNavMenu">
    <div class="navbar-body">
        <ul class="navbar-nav flex-grow-1">
            @{ 
                var role = User.IsInRole("Admin");

                var name = User.Identity.Name;
            }
            @if (User.IsInRole("Admin"))
            {
                <!-- Pages -->
                <li class="hs-has-sub-menu">
                    <a id="pagesDropdown" class="hs-mega-menu-invoker navbar-nav-link nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="navLinkPagesDropdown-Users">
                        <i class="fas fa-house nav-icon"></i> Recipes
                    </a>

                    <!-- Dropdown -->
                    <ul id="navLinkPagesDropdown-Users" class="hs-sub-menu dropdown-menu dropdown-menu-lg hs-sub-menu-desktop-lg animated" aria-labelledby="pagesDropdown-Users" style="min-width: 16rem; animation-duration: 300ms;">
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Newrecipe", "Recipe")">
                                <span class="tio-circle-outlined nav-indicator-icon"></span> New
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Currentrecipes", "Recipe")">
                                <span class="tio-circle-outlined nav-indicator-icon"></span> View Recipes
                            </a>
                        </li>
                    </ul>
                    <!-- End Dropdown -->
                </li>
            }
            else
            {
                <li class="hs-has-sub-menu">
                    <a id="pagesDropdown" class="hs-mega-menu-invoker navbar-nav-link nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="navLinkPagesDropdown-Users">
                        <i class="fas fa-user nav-icon"></i> Recipes
                    </a>

                    <!-- Dropdown -->
                    <ul id="navLinkPagesDropdown-Users" class="hs-sub-menu dropdown-menu dropdown-menu-lg hs-sub-menu-desktop-lg animated" aria-labelledby="pagesDropdown-Users" style="min-width: 16rem; animation-duration: 300ms;">
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Currentrecipes", "Recipe")">
                                <span class="tio-circle-outlined nav-indicator-icon"></span> View Recipes
                            </a>
                        </li>
                    </ul>
                    <!-- End Dropdown -->
                </li>
            }
        </ul>
    </div>
</div>