
@{
    ViewData["Title"] = "Message";
}

<main id="content" role="main" class="main">
    <div class="content container-fluid">
        <!-- Message Body -->
        <div id="checkoutStepSuccessMessage" style="">
            <div class="text-center">
                <img class="img-fluid mb-3" src="~/front-dashboard-v1.1/dist/assets/svg/illustrations/hi-five.svg" alt="Image Description" style="max-width: 15rem;">
                <div class="mb-4">
                    <h2>Saved</h2>
                </div>

                <a class="btn btn-primary" href="@Url.Action("Currentrecipes","Recipe")">Continue </a>
            </div>
        </div>
        <!-- End Message Body -->
    </div>
</main>