

<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-end mb-3">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Authorization</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Privacy</li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">Authorization Required</h1>
                </div>
</div>
</div>
</div>
    <div class="content container-fluid">
        <!-- Cookie Alert -->
        <div>
            <div class="alert alert-white w-lg-75 shadow-sm mx-auto" role="alert">
                <h5 class="text-dark">Authorization Required</h5>
                <p class="small"><span class="fw-semibold">Note!</span> You are not authourized to view this page</p>

                <div class="row align-items-sm-center">
                    <div class="col-sm-4 text-sm-end">
                        <a href="@Url.Action("Currentrecipes","Recipe")" class="btn btn-primary btn-transition">Got it!</a>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Cookie Alert -->

    </div>
</main>